/* index.css */
body {
    background-color: #000; /* black background */
    color: #0f0; /* bright green text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #00ff66;
    text-shadow: 0 0 5px #0f0;
}

a {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    color: #000;
    background: #00cc55;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

a:hover {
    background-color: #0c0;
    box-shadow: 0 0 10px #0f0;
}
